.menu {
    display: flex;
    padding: 20px;
    justify-content: space-evenly; 
}

.menu-item {
    position: relative; 
    text-align: center;
    border: 1px solid transparent; 
}

.menu-item:hover {
    border-color: #333; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.menu-item img {
    width: 300px;
    height: 300px;
    border-radius: 8px; 
}

.menu-item:hover img {
    transform: scale(1.05); 
}

.item-desc {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 10px;
    opacity: 0; 
    bottom: 0;
}

.menu-item:hover .item-desc {
    opacity: 10; 
    line-height: 15px;
}

.item-desc p {
    margin-top: 10px;
    font-size: 1em;
    color: #ffffff;
}

.item-name{
    color: rgb(30, 29, 29);
    font-weight: bold;
}

.menu-page {
    background-image: url(background-menu.jpg);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}

.menu-page h1{
    font-size: 44px;
    color: brown;
    text-decoration: overline;
}