.review img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.review p{
    padding: 20px;
    line-height: 20px;
    color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.review h6{
    font-style: italic;
    font-size: 15px;
    color: brown;
}

.review {
    width: 350px;
    height: 400px;
    background-color: rgb(208, 217, 213);
    text-align: center;
    border: 1px solid rgb(255, 252, 252);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.reviewss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(rev.jpg);
}

.review:hover{
    border: 2px;
    border: 1px solid white;
    transform: scale(1.05);
}

.head{
    margin-top: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(76, 48, 8);
}